<ion-view title="Caesar Practice 3 Question 5A" id="page57" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice3Question5A-heading57" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question5A-markdown90" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question5A-markdown91" style="color:#000000;font-size:24px;text-align:center;" class=" ">oh baby a triple ~~~~~~ (Key 19) ~~~~~~~~~&gt; ha utur t mkbiex</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.congratulations_tab1" id="caesarPractice3Question5A-button57" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>