<ion-view title="Caesar Practice 1 Question 1" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice1Question1-heading13" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice1Question1-markdown9" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice1Question1-markdown11" style="color:#000000;font-size:24px;text-align:center;" class=" ">Bananas ~~~~~~~~(Key 8) ~~~~~~~~~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice1Question1-form4" class="list ">
            <label class="item item-input " id="caesarPractice1Question1-input3">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.caesarPractice1Question1A" id="caesarPractice1Question1-button13" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>