<ion-view title="Caesar Default Page" id="page3" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarDefaultPage-heading176" style="color:#387EF5;text-align:center;" class=" ">Welcome to Caesar Cipher!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.caesarCipherDefinition" id="caesarDefaultPage-button220" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-help ">Definition</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.caesarCipherExample" id="caesarDefaultPage-button234" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-gear-b ">Example</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.caesarCipherPractice" id="caesarDefaultPage-button235" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-ios-bolt ">Practice</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.caesarCipherQuiz" id="caesarDefaultPage-button236" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-flag ">Quiz</a>
        </div>
    </ion-content>
</ion-view>