<ion-view title="Caesar Practice 2 Question 1" id="page18" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarPractice2Question1-heading20" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question1-markdown22" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question1-markdown23" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~~~~~~ (Key 16) ~~~~~~~~~~~&gt; suhqcysi</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice2Question1-form10" class="list ">
            <label class="item item-input " id="caesarPractice2Question1-input9">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.caesarPractice2Question1A" id="caesarPractice2Question1-button20" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>