<ion-view title="Caesar Practice 3 Question 1" id="page25" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice3Question1-heading26" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question1-markdown32" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question1-markdown33" style="color:#000000;font-size:24px;text-align:center;" class=" ">Green Lantern ~~~~~~~~ (Key 12) ~~~~~~~~~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice3Question1-form15" class="list ">
            <label class="item item-input " id="caesarPractice3Question1-input14">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="caesarPractice3Question1A" id="caesarPractice3Question1-button26" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>