<ion-view title="Caesar Cypher Quiz" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarCypherQuiz-heading19" style="color:#000000;" class=" ">Quiz</h1>
        <div class="spacer" style="width: 748px; height: 152px;"></div>
        <a ui-sref="tabsController.caesarQuiz1Question1" id="caesarCypherQuiz-button12" class=" button button-positive  button-block ">Quiz 1</a>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <button id="caesarCypherQuiz-button19" class=" button button-positive  button-block ">Quiz 2</button>
    </ion-content>
</ion-view>