<ion-view title="Caesar Practice 1 Question 2" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice1Question2-heading15" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice1Question2-markdown12" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice1Question2-markdown13" style="color:#000000;font-size:24px;text-align:center;" class=" ">???? ~~~~~~~~(Key 2) ~~~~~~~~~~~&gt; unqvj</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice1Question2-form182" class="list ">
            <label class="item item-input " id="caesarPractice1Question2-input182">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.caesarPractice1Question2A" id="caesarPractice1Question2-button15" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>