<ion-view title="Caesar Practice 2 Question 5A" id="page52" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice2Question5A-heading52" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question5A-markdown80" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question5A-markdown81" style="color:#000000;font-size:24px;text-align:center;" class=" ">Red Dinosaur ~~~~~~~~ (Key 4) ~~~~~~~~~~~&gt; vih hmrsweyv</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.congratulations" id="caesarPractice2Question5A-button52" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>