<ion-view title="Caesar Practice 3 Question 5" id="page29" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice3Question5-heading30" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question5-markdown40" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question5-markdown41" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~~~~ (Key 19) ~~~~~~~~~&gt; ha utur t mkbiex</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice3Question5-form19" class="list ">
            <label class="item item-input " id="caesarPractice3Question5-input18">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="caesarPractice3Question5A" id="caesarPractice3Question5-button30" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>