<ion-view title="Caesar Cipher Default Page" id="page144" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="caesarCipherDefaultPage-list5" class=" ">
            <ion-item class="item-icon-left  " id="caesarCipherDefaultPage-list-item17" ui-sref="tabsController.caesarCipherDefinition">
                <i class="icon ion-help"></i>Definition</ion-item>
            <ion-item class="item-icon-left  " id="caesarCipherDefaultPage-list-item18" ui-sref="tabsController.caesarCipherExample">
                <i class="icon ion-gear-b"></i>Example</ion-item>
            <ion-item class="item-icon-left  " id="caesarCipherDefaultPage-list-item19" ui-sref="tabsController.caesarCipherPractice">
                <i class="icon ion-ios-bolt"></i>Practice</ion-item>
            <ion-item class="item-icon-left  " id="caesarCipherDefaultPage-list-item20" ui-sref="tabsController.caesarCipherQuiz">
                <i class="icon ion-flag"></i>Quiz</ion-item>
        </ion-list>
    </ion-content>
</ion-view>