<ion-view title="Caesar Practice 2 Question 4A" id="page51" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarPractice2Question4A-heading51" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question4A-markdown78" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question4A-markdown79" style="color:#000000;font-size:24px;text-align:center;" class=" ">Tiki Torch ~~~~~~~~ (Key 14) ~~~~~~~~~~~&gt; hwyw hcfqv</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.caesarPractice2Question5" id="caesarPractice2Question4A-button51" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>