<ion-view title="Caesar Practice 2 Question 2A" id="page49" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice2Question2A-heading49" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question2A-markdown74" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question2A-markdown75" style="color:#000000;font-size:24px;text-align:center;" class=" ">pencils ~~~~~~~~ (Key 9) ~~~~~~~~~~~&gt; ynwlrub</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.caesarPractice2Question3" id="caesarPractice2Question2A-button49" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>