<ion-view title="Caesar Practice 3 Question 4" id="page28" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice3Question4-heading29" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question4-markdown38" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question4-markdown39" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~~~~ (Key 1) ~~~~~~~~~&gt; nz obnf jt ns ps nt tnbsu qfstpo</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice3Question4-form18" class="list ">
            <label class="item item-input " id="caesarPractice3Question4-input17">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="caesarPractice3Question4A" id="caesarPractice3Question4-button29" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>