<ion-view title="Caesar Quiz 1 Question 5" id="page71" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarQuiz1Question5-heading72" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarQuiz1Question5-markdown120" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarQuiz1Question5-markdown121" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~~~~~~~~(Key 17) ~~~~~~~~~~~~&gt; kvcvgyfev tfiu</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarQuiz1Question5-form58" class="list ">
            <label class="item item-input " id="caesarQuiz1Question5-input58">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="caesarQuiz1Question5-button72" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>