<ion-view title="Caesar Cipher Definition" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarCipherDefinition-heading1" style="color:#000000;font-weight:600;text-align:center;" class=" ">Caesar Cipher Definition</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarCipherDefinition-markdown1" style="color:#000000;font-size:24px;" class=" ">The Caesar cipher is one of the earliest and simplest ciphers. It is a substitution cipher in which each letter is 'shifted' a certain number of places down the alphabet. For example, with a shift of 1, A would become B, B would become C, and
            so on. The method is named after Julius Caesar, who used it to communicate military information with his generals.</p>
        <div class="">
            <img src="img/QtJtn53SqeKTcdC4SUTZ_unnamed.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/W6hVQzRRbCGNB5nWE6f7_caesar.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 748px; height: 50px;"></div>
        <p id="caesarCipherDefinition-markdown138" style="color:#000000;font-size:24px;" class=" ">When encrypting, all you have to do is write the shifted alphabet alongside your regular alphabet, and copy which letters replace which. Given a shift, you can take an encrypted message and decrypt it.</p>
        <div class="spacer" style="width: 748px; height: 66px;"></div>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="caesarCipherDefinition-video2" class=" ">
            <iframe src="https://www.youtube.com/embed/vYJcEc7VVMc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
    </ion-content>
</ion-view>