<ion-view title="Caesar Practice 3 Question 2" id="page26" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice3Question2-heading27" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question2-markdown34" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question2-markdown35" style="color:#000000;font-size:24px;text-align:center;" class=" ">Super Person ~~~~~~~~ (Key 21) ~~~~~~~~~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice3Question2-form16" class="list ">
            <label class="item item-input " id="caesarPractice3Question2-input15">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="caesarPractice3Question2A" id="caesarPractice3Question2-button27" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>