<ion-view title="Caesar Practice 1 Question 3" id="page15" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarPractice1Question3-heading16" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice1Question3-markdown14" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice1Question3-markdown15" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~~~~~~(Key 17) ~~~~~~~~~~~&gt; bvpsfriu</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice1Question3-form6" class="list ">
            <label class="item item-input " id="caesarPractice1Question3-input5">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.caesarPractice1Question3A" id="caesarPractice1Question3-button16" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>