<ion-view title="Caesar Practice 2 Question 5" id="page23" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarPractice2Question5-heading24" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question5-markdown30" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice2Question5-markdown31" style="color:#000000;font-size:24px;text-align:center;" class=" ">Red Dinosaur ~~~~~~~~ (Key 4) ~~~~~~~~~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice2Question5-form14" class="list ">
            <label class="item item-input " id="caesarPractice2Question5-input13">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.caesarPractice2Question5A" id="caesarPractice2Question5-button24" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>