<ion-view title="Caesar Cipher Example" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarCipherExample-heading4" style="color:#000000;font-weight:600;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarCipherExample-markdown6" style="color:#000000;font-size:24px;" class=" ">Here's an example of how to encrypt and decrypt in Caesar Cipher</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="caesarCipherExample-heading5" style="color:#000000;text-align:center;" class=" ">Hello ~~~~~~~~~~~&gt; Key (3) ~~~~~~~~~~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 40px;"></div>
        <a ui-sref="tabsController.caesarCipherExampleEncrypted" id="caesarCipherExample-button1" class=" button button-positive  button-block ">Encrypt</a>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="caesarCipherExample-heading6" style="color:#000000;text-align:center;" class=" ">bmzzodibn ~~~~~~~&gt; Key (5) ~~~~~~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 42px;"></div>
        <a ui-sref="tabsController.caesarCipherExampleDecrypted" id="caesarCipherExample-button2" class=" button button-positive  button-block ">Decrypt</a>
    </ion-content>
</ion-view>