<ion-view title="Caesar Quiz 2 Question 4" id="page76" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarQuiz2Question4-heading78" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarQuiz2Question4-markdown130" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarQuiz2Question4-markdown131" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~~~~~~~~(Key 12) ~~~~~~~~~~&gt; mzeiqd ue fiqxhq</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="caesarQuiz2Question5" id="caesarQuiz2Question4-button76" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>