<ion-view title="Caesar Cipher Example Encrypted" id="page9" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarCipherExampleEncrypted-heading7" style="color:#000000;font-weight:600;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarCipherExampleEncrypted-markdown7" style="color:#000000;font-size:24px;" class=" ">The message has been encrypted!</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="caesarCipherExampleEncrypted-heading8" style="color:#000000;text-align:center;" class=" ">Hello ~~~~~~~~~~~&gt; Key (3) ~~~~~~~~~~~&gt; khoor</h2>
        <div class="spacer" style="width: 748px; height: 40px;"></div>
        <button id="caesarCipherExampleEncrypted-button3" class=" button button-stable  button-block ">Encrypted</button>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="caesarCipherExampleEncrypted-heading9" style="color:#000000;text-align:center;" class=" ">bmzzodibn ~~~~~~~&gt; Key (5) ~~~~~~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 42px;"></div>
        <a ui-sref="tabsController.caesarCipherExampleDecrypted" id="caesarCipherExampleEncrypted-button4" class=" button button-positive  button-block ">Decrypt</a>
    </ion-content>
</ion-view>