<ion-view title="Caesar Practice 5 Question 5" id="page42" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarPractice5Question5-heading42" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice5Question5-markdown60" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice5Question5-markdown61" style="color:#000000;font-size:24px;text-align:center;" class=" ">The answer is right behind you ~~~~~~ (Key 6) ~~~~~~~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice5Question5-form29" class="list ">
            <label class="item item-input " id="caesarPractice5Question5-input28">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.caesarPractice5Question5A" id="caesarPractice5Question5-button42" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>