<ion-view title="Caesar Cypher Definition" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarCypherDefinition-heading1" style="color:#000000;font-weight:600;text-align:center;" class=" ">Caesar Cypher Definition</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarCypherDefinition-markdown1" style="color:#000000;font-size:24px;" class=" ">The Caesar cipher is one of the earliest and simplest ciphers. It is a substitution cipher in which each letter is 'shifted' a certain number of places down the alphabet. For example, with a shift of 1, A would become B, B would become C, and
            so on. The method is named after Julius Caesar, who used it to communicate military information with his generals.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarCypherDefinition-markdown138" style="color:#000000;font-size:24px;" class=" ">When encrypting, all you have to do is write the shifted alphabet alongside your regular alphabet, and copy which letters replace which. Given a shift, you can take an encrypted message and decrypt it.</p>
    </ion-content>
</ion-view>