<ion-view title="Caesar Practice 3 Question 3A" id="page55" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="caesarPractice3Question3A-heading55" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question3A-markdown86" style="color:#000000;font-size:24px;" class=" ">Decrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice3Question3A-markdown87" style="color:#000000;font-size:24px;text-align:center;" class=" ">mummy robot ~~~~~~~~ (Key 8) ~~~~~~~~~~~&gt; ucuug zwjwb</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="caesarPractice3Question4" id="caesarPractice3Question3A-button55" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>