<ion-view title="Caesar Cypher Example" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarCypherExample-heading4" style="color:#000000;font-weight:600;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarCypherExample-markdown6" style="color:#000000;font-size:24px;" class=" ">Here's an example of how to encrypt and decrypt in Caesar Cypher</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="caesarCypherExample-heading5" style="color:#000000;text-align:center;" class=" ">Hello ~~~~~~~~~~~&gt; Key (3) ~~~~~~~~~~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 40px;"></div>
        <a ui-sref="tabsController.caesarCypherExampleEncrypted" id="caesarCypherExample-button1" class=" button button-positive  button-block ">Encrypt</a>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="caesarCypherExample-heading6" style="color:#000000;text-align:center;" class=" ">bmzzodibn ~~~~~~~&gt; Key (5) ~~~~~~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 42px;"></div>
        <a ui-sref="tabsController.caesarCypherExampleDecrypted" id="caesarCypherExample-button2" class=" button button-positive  button-block ">Decrypt</a>
    </ion-content>
</ion-view>