<ion-view title="Caesar Practice 5 Question 3A" id="page65" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="caesarPractice5Question3A-heading65" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice5Question3A-markdown106" style="color:#000000;font-size:24px;" class=" ">Encrypt this message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="caesarPractice5Question3A-markdown107" style="color:#000000;font-size:18px;text-align:center;" class=" ">Why do you build me up ~~~~~~ (Key 6) ~~~~~~~~~&gt; cne ju eua haorj sk av</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="caesarPractice5Question3A-form52" class="list ">
            <label class="item item-input " id="caesarPractice5Question3A-input51">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.caesarPractice5Question4" id="caesarPractice5Question3A-button65" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>