<ion-view title="Congratulations!" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="">
            <img src="img/QgMK4qG5TR6pk6fGt2q9_Green Check.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="congratulations-heading14" style="color:#00CC00;font-weight:600;text-align:center;" class=" ">Good Job on finishing your practice!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <button id="congratulations-button14" class=" button button-positive  button-block ">Back</button>
    </ion-content>
</ion-view>