<ion-view title="Quiz 2 Completed" id="page78" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="quiz2Completed-heading80" style="color:#000000;" class=" ">Congrats on completing your quiz!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="quiz2Completed-markdown134" style="color:#000000;font-size:24px;text-align:center;" class=" ">You got</p>
        <h1 id="quiz2Completed-heading81" style="color:#000000;text-align:center;" class=" ">100%</h1>
        <p id="quiz2Completed-markdown135" style="color:#000000;font-size:24px;text-align:center;" class=" ">Correct</p>
        <div class="spacer" style="height: 100px;"></div>
        <button id="quiz2Completed-button149" class=" button button-positive  button-block ">Back</button>
    </ion-content>
</ion-view>