<ion-view title="Railfence Practice 1 Question 3A" id="page86" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="railfencePractice1Question3A-heading94" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice1Question3A-markdown152" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice1Question3A-markdown153" style="color:#000000;font-size:24px;text-align:center;" class=" ">SLOTHS ~~~~(Row 3, Up)~~~&gt;OLTSSH</p>
        <div class="spacer" style="height: 100px;"></div>
        <button id="railfencePractice1Question3A-button91" class=" button button-positive  button-block ">Next</button>
    </ion-content>
</ion-view>