<ion-view title="Rail Fence Default Page" id="page168" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railFenceDefaultPage-heading177" style="color:#387EF5;text-align:center;" class=" ">Welcome to Rail Fence!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.railFenceDefinition" id="railFenceDefaultPage-button237" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-help ">Definition</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.railfenceExample" id="railFenceDefaultPage-button238" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-gear-b ">Example</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.railFencePractice" id="railFenceDefaultPage-button239" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-ios-bolt ">Practice</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.railfenceQuiz" id="railFenceDefaultPage-button240" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-flag ">Quiz</a>
        </div>
    </ion-content>
</ion-view>