<ion-view title="Railfence Practice 3 Question 5" id="page109" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice3Question5-heading117" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice3Question5-markdown198" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice3Question5-markdown199" style="color:#000000;font-size:24px;text-align:center;" class=" ">THEHOUND ~~~(Row 1, Down)~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice3Question5-form87" class="list ">
            <label class="item item-input " id="railfencePractice3Question5-input87">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfencePractice3Question5A" id="railfencePractice3Question5-button114" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>