<ion-view title="Railfence Example Encrypted" id="page31" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceExampleEncrypted-heading82" style="color:#000000;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceExampleEncrypted-markdown140" style="color:#000000;font-size:24px;" class=" ">The message has been encrpted!</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="railfenceExampleEncrypted-heading83" style="color:#000000;text-align:center;" class=" ">Hello ~~ (Start on Row 1, Go Down) ~~&gt; HOELL</h2>
        <div class="spacer" style="width: 748px; height: 44px;"></div>
        <button id="railfenceExampleEncrypted-button37" class=" button button-stable  button-block ">Encrypt</button>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="railfenceExampleEncrypted-heading84" style="color:#000000;text-align:center;" class=" ">RIGETNSEG ~~ (Start on Row 2, Go up) ~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 51px;"></div>
        <a ui-sref="tabsController.railfenceExampleDecrypted" id="railfenceExampleEncrypted-button78" class=" button button-positive  button-block ">Decrypt</a>
    </ion-content>
</ion-view>