<ion-view title="Railfence Practice 3 Question 4A" id="page108" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice3Question4A-heading116" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice3Question4A-markdown196" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice3Question4A-markdown197" style="color:#000000;font-size:24px;text-align:center;" class=" ">MOUNTAIN ~~~(Row 2, Down)~~~&gt; NNMUTIOA</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.railfencePractice3Question5" id="railfencePractice3Question4A-button113" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>