<ion-view title="Railfence Quiz" id="page131" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceQuiz-heading228" style="color:#000000;" class=" ">Quiz</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.railfenceQuiz1Question1" id="railfenceQuiz-button124" class=" button button-positive  button-block ">Quiz 1</a>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.railfenceQuiz2Question1" id="railfenceQuiz-button137" class=" button button-positive  button-block ">Quiz 2</a>
    </ion-content>
</ion-view>