<ion-view title="Railfence Quiz 1 Question 3" id="page134" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceQuiz1Question3-heading141" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceQuiz1Question3-markdown246" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceQuiz1Question3-markdown247" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~(Row 3, Up)~~~&gt; AWPROSR</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfenceQuiz1Question3-form111" class="list ">
            <label class="item item-input " id="railfenceQuiz1Question3-input111">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfenceQuiz1Question4" id="railfenceQuiz1Question3-button140" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>