<ion-view title="Railfence Practice 2 Question 4A" id="page98" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="railfencePractice2Question4A-heading106" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice2Question4A-markdown176" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice2Question4A-markdown177" style="color:#000000;font-size:24px;text-align:center;" class=" ">CLEANWATER ~~~(Row 1, Down)~~~&gt; CNELAWTREA</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice2Question4A-form76" class="list ">
            <label class="item item-input " id="railfencePractice2Question4A-input76">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfencePractice2Question5" id="railfencePractice2Question4A-button103" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>