<ion-view title="Railfence Quiz 2 Question 3" id="page140" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceQuiz2Question3-heading148" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceQuiz2Question3-markdown258" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceQuiz2Question3-markdown259" style="color:#000000;font-size:24px;text-align:center;" class=" ">GOODMORNING ~~~(Row 3, Up)~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfenceQuiz2Question3-form116" class="list ">
            <label class="item item-input " id="railfenceQuiz2Question3-input116">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfenceQuiz2Question4" id="railfenceQuiz2Question3-button145" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>