<ion-view title="Railfence Example Decrypted" id="page36" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceExampleDecrypted-heading85" style="color:#000000;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceExampleDecrypted-markdown141" style="color:#000000;font-size:24px;" class=" ">The message has been decrypted!</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="railfenceExampleDecrypted-heading86" style="color:#000000;text-align:center;" class=" ">Hello ~~ (Start on Row 1, Go Down) ~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 44px;"></div>
        <a ui-sref="tabsController.railfenceExampleEncrypted" id="railfenceExampleDecrypted-button79" class=" button button-positive  button-block ">Encrypt</a>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="railfenceExampleDecrypted-heading87" style="color:#000000;text-align:center;" class=" ">RIGETNSEG ~ (Start on Row 2, Go up) ~&gt; Greetings</h2>
        <div class="spacer" style="width: 748px; height: 51px;"></div>
        <button id="railfenceExampleDecrypted-button80" class=" button button-stable  button-block ">Decrypt</button>
    </ion-content>
</ion-view>