<ion-view title="Railfence Practice 4 Question 3A" id="page116" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice4Question3A-heading124" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question3A-markdown212" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question3A-markdown213" style="color:#000000;font-size:24px;text-align:center;" class=" ">EASTTIMOR ~~~(Row 2, DOWN)~~~&gt; TOESTMRAI</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.railfencePractice4Question4" id="railfencePractice4Question3A-button121" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>