<ion-view title="Railfence Practice 5 Question 1A" id="page122" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice5Question1A-heading130" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice5Question1A-markdown224" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice5Question1A-markdown225" style="color:#000000;font-size:24px;text-align:center;" class=" ">POPSICLE ~~~(Row 3, Up)~~~&gt; PLOSCEPI</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice5Question1A-form100" class="list ">
            <label class="item item-input " id="railfencePractice5Question1A-input100">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfencePractice5Question2" id="railfencePractice5Question1A-button128" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>