<ion-view title="Railfence Practice 1 Question 5A" id="page90" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice1Question5A-heading98" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice1Question5A-markdown160" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice1Question5A-markdown161" style="color:#000000;font-size:24px;text-align:center;" class=" ">BLUERABBITS ~~~~(Row 1, Down)~~~&gt;BRILEABTUBS</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice1Question5A-form68" class="list ">
            <label class="item item-input " id="railfencePractice1Question5A-input68">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.congratulations_tab1" id="railfencePractice1Question5A-button95" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>