<ion-view title="Railfence Practice 2 Question 5A" id="page100" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice2Question5A-heading108" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice2Question5A-markdown180" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice2Question5A-markdown181" style="color:#000000;font-size:24px;text-align:center;" class=" ">DETECTIVE ~~~(Row 3, UP)~~~&gt; TIEETVDCE</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.congratulations" id="railfencePractice2Question5A-button105" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>