<ion-view title="Rail Fence Definition" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railFenceDefinition-heading2" style="color:#000000;font-weight:600;text-align:center;" class=" ">Rail Fence Definition</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railFenceDefinition-markdown4" style="color:#000000;font-size:24px;" class=" ">Rail Fence (also called a zigzag cipher) is a transposition cipher. It derives its name from the way in which it is encoded. In the rail fence cipher, the plaintext is written downwards and diagonally on successive "rails" of an imaginary fence,
            then moving up when we reach the bottom rail.</p>
        <div class="spacer" style="width: 731px; height: 52px;"></div>
        <div class="">
            <img src="img/KkWKYvSQURXk1AncFjAq_Screenshot (76).png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 731px; height: 46px;"></div>
        <p id="railFenceDefinition-markdown307" style="color:#000000;font-size:24px;text-align:center;" class=" ">The above message translate to the below.</p>
        <div class="">
            <img src="img/u2uyo138Q8mw0QjS8fmL_Screenshot (78).png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 731px; height: 20px;"></div>
        <div class="spacer" style="width: 731px; height: 8px;"></div>
        <p id="railFenceDefinition-markdown137" style="color:#000000;font-size:24px;" class=" ">When creating the railfence cypher, we need a message. Say the message as x number of letters. Typically, we then create a 3 by x sized grid. Within this grid, in the first column, you then pick a row to start in. If you pick the top, then you
            go down diagonally until you reach the bottom, at which point you you go back up diagonally, and repeat until your message is complete. The same applies for the third row, but vice versa. In the event you pick the second, you will pick which
            direction you want the message to proceed in. Once this grid is made, you read encrypt the message by going left to right, top to bottom, row by row. This will scramble your message. Write it out as one garbled word. When decrypting, reverse
            the process.</p>
        <div class="spacer" style="width: 748px; height: 52px;"></div>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="railFenceDefinition-video1" class=" ">
            <iframe src="https://www.youtube.com/embed/OpbXvN51tEk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
    </ion-content>
</ion-view>