<ion-view title="Railfence Practice 5 Question 4A" id="page128" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice5Question4A-heading136" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice5Question4A-markdown236" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice5Question4A-markdown237" style="color:#000000;font-size:24px;text-align:center;" class=" ">HAROLD ~~~(Row 1, Down)~~~&gt; HLAODR</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice5Question4A-form106" class="list ">
            <label class="item item-input " id="railfencePractice5Question4A-input106">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.congratulations" id="railfencePractice5Question4A-button134" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>