<ion-view title="Railfence Quiz 1 Congrats" id="page137" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceQuiz1Congrats-heading144" style="color:#000000;text-align:center;" class=" ">Congratulations on finishing your quiz!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceQuiz1Congrats-markdown252" style="color:#000000;font-size:24px;text-align:center;" class=" ">You got</p>
        <h2 id="railfenceQuiz1Congrats-heading145" style="color:#000000;text-align:center;" class=" ">60%</h2>
        <p id="railfenceQuiz1Congrats-markdown253" style="color:#000000;font-size:24px;text-align:center;" class=" ">correct</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.caesarDefaultPage_tab2" id="railfenceQuiz1Congrats-button150" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>