<ion-view title="Railfence Practice 4 Question 1" id="page111" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice4Question1-heading119" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question1-markdown202" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question1-markdown203" style="color:#000000;font-size:24px;text-align:center;" class=" ">TARGARYEN ~~~(Row 1, Down)~~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice4Question1-form89" class="list ">
            <label class="item item-input " id="railfencePractice4Question1-input89">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfencePractice4Question1A" id="railfencePractice4Question1-button116" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>