<ion-view title="Railfence Practice 3 Question 2A" id="page104" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice3Question2A-heading112" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice3Question2A-markdown188" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice3Question2A-markdown189" style="color:#000000;font-size:24px;text-align:center;" class=" ">QUEPASO ~~~(Row 2, Down)~~~&gt; PQEAOUS</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.railfencePractice3Question3" id="railfencePractice3Question2A-button109" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>