<ion-view title="Railfence Practice 4 Question 5A" id="page120" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice4Question5A-heading128" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question5A-markdown220" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question5A-markdown221" style="color:#000000;font-size:24px;text-align:center;" class=" ">SERIALBUS ~~~(Row 1, Down)~~~&gt; SASEILURB</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.congratulations" id="railfencePractice4Question5A-button126" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>