<ion-view title="Railfence Practice 4 Question 4A" id="page118" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice4Question4A-heading126" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question4A-markdown216" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice4Question4A-markdown217" style="color:#000000;font-size:24px;text-align:center;" class=" ">UNIVERSAL ~~~(Row 3, Up)~~~&gt; ISNVRAUEL</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice4Question4A-form96" class="list ">
            <label class="item item-input " id="railfencePractice4Question4A-input96">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfencePractice4Question5" id="railfencePractice4Question4A-button123" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>