<ion-view title="Railfence Quiz 2 Congrats" id="page143" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceQuiz2Congrats-heading151" style="color:#000000;" class=" ">Congratulations on completing your quiz!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceQuiz2Congrats-markdown264" style="color:#000000;font-size:24px;text-align:center;" class=" ">You got</p>
        <h2 id="railfenceQuiz2Congrats-heading152" style="color:#000000;text-align:center;" class=" ">20%</h2>
        <p id="railfenceQuiz2Congrats-markdown265" style="color:#000000;font-size:24px;text-align:center;" class=" ">correct</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.caesarDefaultPage" id="railfenceQuiz2Congrats-button151" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>