<ion-view title="Railfence Example" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfenceExample-heading25" style="color:#000000;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfenceExample-markdown139" style="color:#000000;font-size:24px;" class=" ">Here's an exmaple of how to encrypt and decrypt in Caesar</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="railfenceExample-heading32" style="color:#000000;text-align:center;" class=" ">Hello ~~ (Start on Row 1, Go Down) ~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 44px;"></div>
        <a ui-sref="tabsController.railfenceExampleEncrypted" id="railfenceExample-button25" class=" button button-positive  button-block ">Encrypt</a>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="railfenceExample-heading37" style="color:#000000;text-align:center;" class=" ">RIGETNSEG ~~ (Start on Row 2, Go up) ~~&gt; ???</h2>
        <div class="spacer" style="width: 748px; height: 51px;"></div>
        <a ui-sref="tabsController.railfenceExampleDecrypted" id="railfenceExample-button32" class=" button button-positive  button-block ">Decrypt</a>
    </ion-content>
</ion-view>