<ion-view title="Rail Fence Default Page" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="railFenceDefaultPage-list3" class=" ">
            <ion-item class="item-icon-left  " id="railFenceDefaultPage-list-item9" ui-sref="tabsController.railFenceDefinition">
                <i class="icon ion-help"></i>Definition</ion-item>
            <ion-item class="item-icon-left  " id="railFenceDefaultPage-list-item10" ui-sref="tabsController.railfenceExample">
                <i class="icon ion-gear-b"></i>Example</ion-item>
            <ion-item class="item-icon-left  " id="railFenceDefaultPage-list-item11" ui-sref="tabsController.railFencePractice">
                <i class="icon ion-ios-bolt"></i>Practice</ion-item>
            <ion-item class="item-icon-left  " id="railFenceDefaultPage-list-item12" ui-sref="tabsController.railfenceQuiz">
                <i class="icon ion-flag"></i>Quiz</ion-item>
        </ion-list>
    </ion-content>
</ion-view>