<ion-view title="Railfence Practice 5 Question 5A" id="page130" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice5Question5A-heading138" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice5Question5A-markdown240" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice5Question5A-markdown241" style="color:#000000;font-size:24px;text-align:center;" class=" ">HAMBURGELOR ~~~(Row 2, Down)~~~&gt; BEHMUGLRARO</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice5Question5A-form108" class="list ">
            <label class="item item-input " id="railfencePractice5Question5A-input108">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.congratulations_tab1" id="railfencePractice5Question5A-button136" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>