<ion-view title="Railfence Practice 1 Question 2A" id="page83" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="railfencePractice1Question2A-heading92" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice1Question2A-markdown148" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="railfencePractice1Question2A-markdown149" style="color:#000000;font-size:24px;text-align:center;" class=" ">SEVENTEEN ~~~~(Row 2, Up)~~~&gt;ENESEEVTN</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="railfencePractice1Question2A-form62" class="list ">
            <label class="item item-input " id="railfencePractice1Question2A-input62">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.railfencePractice1Question3" id="railfencePractice1Question2A-button89" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>