<ion-view title="Route Transposition Practice 4 Question 5" id="page188" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice4Question5-heading199" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice4Question5-markdown345" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice4Question5-markdown346" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~ (2x3, Bottom Right, ←,↑,←,↓)~~&gt; SA#SLG</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice4Question5-form158" class="list ">
            <label class="item item-input " id="routeTranspositionPractice4Question5-input158">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="routeTranspositionPractice4Question5A" id="routeTranspositionPractice4Question5-button200" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>