<ion-view title="Route Transposition Definition" id="page7" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionDefinition-heading3" style="color:#000000;font-weight:600;text-align:center;" class=" ">Route Transposition Definition</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionDefinition-markdown5" style="color:#000000;font-size:24px;" class=" ">Route Transposition cipher was first created by the Union forces in the American Civil war. Route transposition is another type of transposition cipher. It is named a “Route Transposition” because the encryptor lays out the message in a grid and
            then chooses a route to encrypt it in.</p>
        <div class="spacer" style="width: 748px; height: 68px;"></div>
        <p id="routeTranspositionDefinition-markdown136" style="color:#000000;font-size:24px;" class=" ">For route transposition, pick a grid that has at least as many boxes as letters in your message. Pick a place to start your message. Then, going either up, down, left or right, fill in the boxes with your message. When you’re done, fill in any
            remaining spaces with #’s, or leave them blank. Once this is done, go from left to right, top to bottom, to encode your message. Write it out as one big garbled word. When decoding, simply reverse the process.</p>
        <div class="spacer" style="width: 748px; height: 40px;"></div>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="routeTranspositionDefinition-video3" class=" ">
            <iframe src="https://www.youtube.com/embed/u6FpZb0VF_s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
    </ion-content>
</ion-view>