<ion-view title="Route Transposition Practice 3 Question 4A" id="page178" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice3Question4A-heading189" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question4A-markdown325" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question4A-markdown326" style="color:#000000;font-size:24px;text-align:center;" class=" ">USB ~~ (5x5, Top Right, ↓,←)~~&gt; ####U###BS###############</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.congratulations" id="routeTranspositionPractice3Question4A-button190" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>