<ion-view title="Route Transposition Example" id="page156" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionExample-heading166" style="color:#000000;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionExample-markdown287" style="color:#000000;font-size:24px;" class=" ">Here's an example of how to encrypt and decrypt with route transposition.</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="routeTranspositionExample-heading168" style="color:#000000;text-align:center;" class=" ">HELLO ~~(2x3, Upper left, ↓,→,→,↑)~~ ???</h2>
        <div class="spacer" style="width: 731px; height: 48px;"></div>
        <a ui-sref="tabsController.routeTranspositionExampleEncrypted" id="routeTranspositionExample-button169" class=" button button-positive  button-block ">Encrypt</a>
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="routeTranspositionExample-heading169" style="color:#000000;text-align:center;" class=" ">??? ~~(2x4, Bottom Right, ↑,←,↓,←,←,↑, →) ~~ NGERITEG</h3>
        <div class="spacer" style="width: 731px; height: 42px;"></div>
        <button id="routeTranspositionExample-button170" class=" button button-positive  button-block ">Decrypt</button>
    </ion-content>
</ion-view>