<ion-view title="Route Transposition Practice 5 Question 3A" id="page195" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice5Question3A-heading206" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice5Question3A-markdown359" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice5Question3A-markdown360" style="color:#000000;font-size:18px;text-align:center;" class=" ">MINECRAFT ~~ (4x4, Bottom Left, →,↑,↑,→,→,↓,↓,←)~~&gt; #####ECR#N#AMITF</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice5Question3A-form165" class="list ">
            <label class="item item-input " id="routeTranspositionPractice5Question3A-input165">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice5Question4" id="routeTranspositionPractice5Question3A-button207" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>