<ion-view title="Route Transposition Practice 1 Question 1" id="page150" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice1Question1-heading153" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question1-markdown266" style="color:#000000;font-size:24px;" class=" ">Encrypt This Message</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question1-markdown267" style="color:#000000;font-size:24px;text-align:center;" class=" ">Bananas~~(3x3, start top left, →,↓,←,↓,→,→, blanks) ~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice1Question1-form119" class="list ">
            <label class="item item-input " id="routeTranspositionPractice1Question1-input119">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice1Question1A" id="routeTranspositionPractice1Question1-button152" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>