<ion-view title="Route Transposition Practice 1 Question 5A" id="page155" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice1Question5A-heading162" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question5A-markdown284" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question5A-markdown285" style="color:#000000;font-size:18px;text-align:center;" class=" ">ODETOTHESEA~~(3x4,top right, ↓,←,↑,←,←,↓,↓,→,→,→)~~TOTOH#EDESEA</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.congratulations" id="routeTranspositionPractice1Question5A-button166" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>