<ion-view title="Route Transposition Practice 2 Question 2A" id="page160" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice2Question2A-heading167" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question2A-markdown293" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question2A-markdown294" style="color:#000000;font-size:24px;text-align:center;" class=" ">BENDING~~(3x3, Center, ↑,←,↓,↓,→,→,↑,↑)~~NE#DB#ING</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.routeTranspositionPractice2Question3" id="routeTranspositionPractice2Question2A-button172" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>