<ion-view title="Route Transposition Practice 2 Question 5" id="page165" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice2Question5-heading174" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question5-markdown303" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question5-markdown304" style="color:#000000;font-size:24px;text-align:center;" class=" ">YELLOW~~(2x3, Top Left, →,↓,↓,←,↑)~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice2Question5-form137" class="list ">
            <label class="item item-input " id="routeTranspositionPractice2Question5-input137">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice2Question5A" id="routeTranspositionPractice2Question5-button177" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>