<ion-view title="Route Transposition Practice 2 Question 1" id="page157" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice2Question1-heading163" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question1-markdown286" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question1-markdown288" style="color:#000000;font-size:24px;text-align:center;" class=" ">RABBIT~~(2x3, bottom left, ↑,→,→,↓,←)~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice2Question1-form129" class="list ">
            <label class="item item-input " id="routeTranspositionPractice2Question1-input129">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice2Question1A" id="routeTranspositionPractice2Question1-button167" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>