<ion-view title="Route Transposition Practice 1 Question 4A" id="page154" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice1Question4A-heading160" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question4A-markdown280" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question4A-markdown281" style="color:#000000;font-size:24px;text-align:center;" class=" ">GOLDENRINGS~~(→,↓,←,↓,→,→,↑,→,→,↑)~~GO##SDLINGENR##</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.routeTranspositionPractice1Question5" id="routeTranspositionPractice1Question4A-button165" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>