<ion-view title="Route Transposition Practice 2 Question 4" id="page163" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice2Question4-heading172" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question4-markdown299" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question4-markdown300" style="color:#000000;font-size:20px;text-align:center;" class=" ">???~~(3x4, Bottom Left, →,↑,←,↑,→,→,↓,↓,→,↑,↑)~~&gt; GES#NAO#ORDA</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice2Question4-form135" class="list ">
            <label class="item item-input " id="routeTranspositionPractice2Question4-input135">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice2Question4A" id="routeTranspositionPractice2Question4-button175" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>