<ion-view title="Route Transposition Practice 3 Question 1A" id="page172" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice3Question1A-heading182" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question1A-markdown311" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question1A-markdown312" style="color:#000000;font-size:24px;text-align:center;" class=" ">RASPBERRY~~(3x3, Top Left, ↓,→,↑,→,↓,↓,←,←)~~&gt; RPBASEYRR</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.routeTranspositionPractice3Question2" id="routeTranspositionPractice3Question1A-button183" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>