<ion-view title="Route Transposition Quiz 2 Question 1" id="page204" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionQuiz2Question1-heading215" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionQuiz2Question1-markdown377" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionQuiz2Question1-markdown378" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~ (3x3, Top Left, →,↓,←,↓,→,→,↑,↑)~~&gt; COMMMSUNI</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionQuiz2Question1-form174" class="list ">
            <label class="item item-input " id="routeTranspositionQuiz2Question1-input174">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionQuiz2Question2" id="routeTranspositionQuiz2Question1-button216" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>