<ion-view title="Route Transposition Practice 3 Question 3A" id="page175" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice3Question3A-heading186" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question3A-markdown319" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question3A-markdown320" style="color:#000000;font-size:24px;text-align:center;" class=" ">PENCIL ~~ (3x3, Top Left, →,↓,→,↓,←)~~&gt; PE##NC#LI</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.routeTranspositionPractice3Question4" id="routeTranspositionPractice3Question3A-button187" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>