<ion-view title="Route Transposition Practice 1 Question 5" id="page152" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice1Question5-heading161" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question5-markdown282" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question5-markdown283" style="color:#000000;font-size:24px;text-align:center;" class=" ">ODETOTHESEA~~(3x4,top right,↓,←,↑,←,←,↓,↓,→,→,→,)~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice1Question5-form127" class="list ">
            <label class="item item-input " id="routeTranspositionPractice1Question5-input127">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice1Question5A" id="routeTranspositionPractice1Question5-button162" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>