<ion-view title="Route Transposition Quiz 1 Congratz" id="page212" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionQuiz1Congratz-heading223" style="color:#000000;text-align:center;" class=" ">Congratulations on finishing your quiz!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionQuiz1Congratz-markdown393" style="color:#000000;font-size:24px;text-align:center;" class=" ">You got</p>
        <h1 id="routeTranspositionQuiz1Congratz-heading224" style="color:#000000;text-align:center;" class=" ">100%</h1>
        <p id="routeTranspositionQuiz1Congratz-markdown394" style="color:#000000;font-size:24px;text-align:center;" class=" ">Correct</p>
        <div class="spacer" style="height: 100px;"></div>
        <button id="routeTranspositionQuiz1Congratz-button224" class=" button button-positive  button-block ">Back</button>
    </ion-content>
</ion-view>