<ion-view title="Route Transposition Quiz" id="page215" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionQuiz-heading227" style="color:#000000;" class=" ">Quiz</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.routeTranspositionQuiz1Question1" id="routeTranspositionQuiz-button226" class=" button button-positive  button-block ">Quiz 1</a>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.routeTranspositionQuiz2Question1" id="routeTranspositionQuiz-button227" class=" button button-positive  button-block ">Quiz 2</a>
    </ion-content>
</ion-view>