<ion-view title="Route Transposition Quiz 2 Question 5" id="page211" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionQuiz2Question5-heading222" style="color:#000000;" class=" ">Question 5</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionQuiz2Question5-markdown391" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionQuiz2Question5-markdown392" style="color:#000000;font-size:24px;text-align:center;" class=" ">HEADPHONES ~~ (3x4, Top Left, ↓,→,↑,→,↓,↓,↓,←,←,↑,→)~~ ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionQuiz2Question5-form181" class="list ">
            <label class="item item-input " id="routeTranspositionQuiz2Question5-input181">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionQuiz2Congratz" id="routeTranspositionQuiz2Question5-button223" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>