<ion-view title="Route Transposition Practice 1 Question 2" id="page146" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice1Question2-heading155" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question2-markdown270" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question2-markdown271" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~~(3x3, start in the middle,↑,→,↓,↓,↓,↓,↑,↑)~~~&gt; NEVESEETN</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice1Question2-form121" class="list ">
            <label class="item item-input " id="routeTranspositionPractice1Question2-input121">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice1Question2A" id="routeTranspositionPractice1Question2-button154" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>