<ion-view title="Route Transposition Practice 1 Question 4" id="page153" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice1Question4-heading159" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question4-markdown278" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice1Question4-markdown279" style="color:#000000;font-size:23px;text-align:center;" class=" ">??? ~~(3x4, Top left,→,↓,←,↓,→,→,↑,→,→,↑)~~&gt; GO##SDLINGENR##</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice1Question4-form125" class="list ">
            <label class="item item-input " id="routeTranspositionPractice1Question4-input125">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice1Question4A" id="routeTranspositionPractice1Question4-button164" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>