<ion-view title="Route Transposition Practice 4 Question 2A" id="page176" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice4Question2A-heading187" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice4Question2A-markdown321" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice4Question2A-markdown322" style="color:#000000;font-size:24px;text-align:center;" class=" ">Tillinghast ~~ (5x5, Top Right, ↓,←,↑,←,↓,←,↓,→,↓,→)~~&gt; ##ILT#GNLI#HA####ST######</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="routeTranspositionPractice4Question3" id="routeTranspositionPractice4Question2A-button188" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>