<ion-view title="Route Transposition Practice 3 Question 3" id="page174" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice3Question3-heading185" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question3-markdown317" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question3-markdown318" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~ (3x3, Top Left, →,↓,→,↓,←)~~&gt; PE##NC#LI</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice3Question3-form144" class="list ">
            <label class="item item-input " id="routeTranspositionPractice3Question3-input144">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice3Question3A" id="routeTranspositionPractice3Question3-button186" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>