<ion-view title="Route Transposition Practice 2 Question 4A" id="page164" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice2Question4A-heading173" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question4A-markdown301" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question4A-markdown302" style="color:#000000;font-size:18px;text-align:center;" class=" ">ORANGESODA~~(3x4, Bottom Left, →,↑,←,↑,→,→,↓,↓,→,↑,↑)~~&gt; GES#NAO#ORDA</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.routeTranspositionPractice2Question5" id="routeTranspositionPractice2Question4A-button176" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>