<ion-view title="Route Transposition Example Encrypted" id="page217" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionExampleEncrypted-heading232" style="color:#000000;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionExampleEncrypted-markdown398" style="color:#000000;font-size:24px;" class=" ">The message has been encrypted!</p>
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="routeTranspositionExampleEncrypted-heading233" style="color:#000000;text-align:center;" class=" ">HELLO ~~(2x3, Upper left, ↓,→,→,↑)~~ H#OELL</h2>
        <div class="spacer" style="width: 731px; height: 48px;"></div>
        <button id="routeTranspositionExampleEncrypted-button230" class=" button button-stable  button-block ">Encrypted</button>
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="routeTranspositionExampleEncrypted-heading234" style="color:#000000;text-align:center;" class=" ">??? ~~(2x4, Bottom Right, ↑,←,↓,←,←,↑, →) ~~ NGERITEG</h3>
        <div class="spacer" style="width: 731px; height: 42px;"></div>
        <button id="routeTranspositionExampleEncrypted-button231" class=" button button-positive  button-block ">Decrypt</button>
    </ion-content>
</ion-view>