<ion-view title="Route Transposition Quiz 1 Question 1" id="page200" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionQuiz1Question1-heading211" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionQuiz1Question1-markdown369" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionQuiz1Question1-markdown370" style="color:#000000;font-size:24px;text-align:center;" class=" ">LIGHTBULB ~~ (3x3, Bottom Right, ←,←,↑,↑,→,↓,→,↑)~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionQuiz1Question1-form170" class="list ">
            <label class="item item-input " id="routeTranspositionQuiz1Question1-input170">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionQuiz1Question2" id="routeTranspositionQuiz1Question1-button212" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>