<ion-view title="Route Transposition Practice 4 Question 1" id="page181" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice4Question1-heading192" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice4Question1-markdown331" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice4Question1-markdown332" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~ (3x3,Bottom Left, ↑,↑,→,→,↓,←)~~&gt; NGOASEM##</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice4Question1-form151" class="list ">
            <label class="item item-input " id="routeTranspositionPractice4Question1-input151">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice4Question1A" id="routeTranspositionPractice4Question1-button193" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>