<ion-view title="Route Transposition Practice 3 Question 1" id="page171" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice3Question1-heading181" style="color:#000000;" class=" ">Question 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question1-markdown309" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question1-markdown310" style="color:#000000;font-size:24px;text-align:center;" class=" ">RASPBERRY~~(3x3, Top Left, ↓,→,↑,→,↓,↓,←,←)~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice3Question1-form140" class="list ">
            <label class="item item-input " id="routeTranspositionPractice3Question1-input140">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice3Question1A" id="routeTranspositionPractice3Question1-button182" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>