<ion-view title="Route Transposition Practice 2 Question 2" id="page159" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice2Question2-heading165" style="color:#000000;" class=" ">Question 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question2-markdown291" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question2-markdown292" style="color:#000000;font-size:24px;text-align:center;" class=" ">???~~(3x3, Center, ↑,←,↓,↓,→,→,↑,↑)~~&gt; NE#DB#ING</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice2Question2-form131" class="list ">
            <label class="item item-input " id="routeTranspositionPractice2Question2-input131">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice2Question2A" id="routeTranspositionPractice2Question2-button171" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>