<ion-view title="Route Transposition Example Decrypted" id="page218" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionExampleDecrypted-heading235" style="color:#000000;text-align:center;" class=" ">Example</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionExampleDecrypted-markdown399" style="color:#000000;font-size:24px;" class=" ">The message has been decrypted</p>
        <div class="spacer" style="height: 100px;"></div>
        <h1 id="routeTranspositionExampleDecrypted-heading236" style="color:#000000;text-align:center;" class=" ">HELLO ~~(2x3, Upper left, ↓,→,→,↑)~~ ???</h1>
        <div class="spacer" style="width: 731px; height: 48px;"></div>
        <a ui-sref="tabsController.routeTranspositionExampleEncrypted" id="routeTranspositionExampleDecrypted-button232" class=" button button-positive  button-block ">Encrypt</a>
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="routeTranspositionExampleDecrypted-heading237" style="color:#000000;text-align:center;" class=" ">GREETING ~~(2x4, Bottom Right, ↑,←,↓,←,←,↑, →) ~~ NGERITEG</h3>
        <div class="spacer" style="width: 731px; height: 42px;"></div>
        <button id="routeTranspositionExampleDecrypted-button233" class=" button button-stable  button-block ">Decrypted</button>
    </ion-content>
</ion-view>