<ion-view title="Route Transposition Default Page" id="page170" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" scroll="true" class="has-header">
        <h1 id="routeTranspositionDefaultPage-heading178" style="color:#387EF5;text-align:center;" class=" ">Welcome to Route Transposition!</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.routeTranspositionDefinition" id="routeTranspositionDefaultPage-button241" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-help ">Definition</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.routeTranspositionExample" id="routeTranspositionDefaultPage-button242" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-gear-b ">Example</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.routeTranspositionPractice" id="routeTranspositionDefaultPage-button243" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-ios-bolt ">Practice</a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="tabsController.routeTranspositionQuiz" id="routeTranspositionDefaultPage-button244" style="left:-10px;border-radius:54px 54px 54px 54px;" class=" button button-positive button-large button-full icon-left ion-flag ">Quiz</a>
        </div>
    </ion-content>
</ion-view>