<ion-view title="Route Transposition Practice 3 Question 4" id="page177" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 id="routeTranspositionPractice3Question4-heading188" style="color:#000000;" class=" ">Question 4</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question4-markdown323" style="color:#000000;font-size:24px;" class=" ">Decrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice3Question4-markdown324" style="color:#000000;font-size:24px;text-align:center;" class=" ">??? ~~ (5x5, Top Right, ↓,←)~~&gt; ####U###BS###############</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice3Question4-form147" class="list ">
            <label class="item item-input " id="routeTranspositionPractice3Question4-input147">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice3Question4A" id="routeTranspositionPractice3Question4-button189" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>