<ion-view title="Route Transposition Practice 2 Question 3" id="page161" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="routeTranspositionPractice2Question3-heading170" style="color:#000000;" class=" ">Question 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question3-markdown295" style="color:#000000;font-size:24px;" class=" ">Encrypt this message.</p>
        <div class="spacer" style="height: 100px;"></div>
        <p id="routeTranspositionPractice2Question3-markdown296" style="color:#000000;font-size:24px;text-align:center;" class=" ">RODRIGUEZ~~(3x3, Bottom Right, ↑,←,↓,←,↑,↑,→,→)~~&gt; ???</p>
        <div class="spacer" style="height: 100px;"></div>
        <form id="routeTranspositionPractice2Question3-form133" class="list ">
            <label class="item item-input " id="routeTranspositionPractice2Question3-input133">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.routeTranspositionPractice2Question3A" id="routeTranspositionPractice2Question3-button173" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>