<ion-view title="Startup" id="page208" class=" ">
    <ion-content padding="true" scroll="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div class="">
            <img src="img/l1lSpa5BSurVYACmcpEX_Cryptography101appimageFinal.jpg" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="startup-heading179" style="color:#387EF5;text-align:center;" class=" ">Cryptography 101</h1>
        <h1 id="startup-heading180" style="color:#387EF5;text-align:center;" class=" ">By</h1>
        <div class="">
            <img src="img/BoRp0EgxTteJdxeCAR2W_VAPORLOGOFINAL copy.jpg" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <p id="startup-markdown308" style="color:#387EF5;font-size:18px;text-align:right;" class=" ">By Daniel Mindich, William He,</p>
        <p id="startup-markdown381" style="color:#387EF5;font-size:18px;text-align:right;" class=" ">Sophie Maltby, Arjun Swarup</p>
        <a ui-sref="tabsController.caesarDefaultPage_tab1" id="startup-button245" class=" button button-positive  button-block ">Continue</a>
    </ion-content>
</ion-view>